<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit book</title>
</head>
<body>
    <h1>Edit Book</h1>
    <div>
        <form th:object="${book}" th:action="@{../save}" action="#" method="post">
            <input type="hidden" th:field="*{id}" class="form-control"/>
            <input type="text" th:field="*{author}"/>
            <input type="text" th:field="*{title}"/>
            <input type="text" th:field="*{isbn}"/>
            <input type="text" id="year" th:field="*{publicationYear}"/>
            <input type="submit" class="btn btn-success" value="Save">
        </form>
    </div>
</body>
</html>