<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customerlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Customers</h1>
    <table>
		<tr>
		    <th>Name</th>
            <th>Email</th>
		</tr>  
    	<tr th:each = "customer : ${customers}">
    		<td th:text="${customer.id} + ' ' +${customer.firstName} + ' ' + ${customer.lastName}"></td>
            <td th:text="${customer.email}"></td>		
    	</tr>
     </table>  	
     <a href="/add">Add customer</a>
</body>
</html>